/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  background-color: var(--main-bg-color);
  background-image: var(--background-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) 0 clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: solid 2px var(--main-color);
  align-items: center;
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
  background-color: var(--main-bg-color);
  max-inline-size: var(--content-size);
  margin-inline: auto;
  margin-block: 104px;
  width: 100%;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);

}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.button__text {
  font-size: 14px;
  line-height: 90%;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  position: relative;
  z-index: 10;
  mix-blend-mode: difference;
}

.button__icon {
  width: 21px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.cards {
  max-inline-size: var(--content-size);
  width: 100%;
}

.card__title {
  font-size: 18px;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' 700;
  padding-block: 3px;
  padding-left: 10px;
  border: solid 2px var(--main-color);
}

.card__image-block {
  position: relative;
  border-right: solid 2px var(--main-color);
  border-left: solid 2px var(--main-color);
}

.card__image-text {
  position: absolute;
  color: var(--main-color, #000);
  text-shadow: -1px -1px var(--main-bg-color), 1px -1px var(--main-bg-color),
  -1px 1px var(--main-bg-color), 1px 1px var(--main-bg-color);
  font-family: var(--accent-font) fantasy;
  font-size: 14px;
  text-transform: uppercase;
  right: 25px;
  top: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  z-index: 5;
}

@supports (-webkit-text-stroke: var(--color-accent)) {
  .card__image-text {
    text-shadow: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFF;
    text-stroke: 1px #fff;
  }
}

.card__image {
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  inline-size: 100%;
}

.card__text {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 27px;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 21px; /* 116.667% */
  border: solid 2px var(--main-color);
  min-inline-size: 130px;
  width: 100%;
}

.like-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: end;
}

.card__like-button {
  padding-block: 10.5px;
  font-family: var(--accent-font), fantasy;
  line-height: 90%;
  font-size: 14px;
  text-align: center;
  max-inline-size: 130px;
  min-inline-size: 130px;
}

.post {
  margin-bottom: 54px;
  background-color: var(--main-bg-color);
}

.save {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 105px;
}

button.save_button {
  padding: 15px 21px 15px 19px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
}

.save_dialog[open] {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: auto 1fr;
  align-items: center;
  width: 357px;
  gap: 20px;
  padding: 30px;
  border: 2px solid var(--main-color);
}

.save_dialog[open]::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

.dialog__icon {
  grid-row: 1;
  grid-column: 1;
  width: 39px;
}

.dialog_text {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 150%; 
  text-transform: uppercase;
  grid-row: 1;
  grid-column: 2;
  z-index: 10;
  text-align: left;
  position: relative;
}

.button svg {
  position: relative;
  z-index: 1;
}

.button_close {
  grid-row: 2;
  grid-column: 1 / -1;
  width: 100%;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-weight: 400;
  line-height: 90%; 
  padding-block: 10.5px;
  text-transform: uppercase;
  margin-top: 10px;
}

.blur {
  filter: blur(0.2rem);
}

.brightness {
  filter: brightness(3);
}

.grayscale {
  filter: grayscale(0.8);
}

.invert {
  filter: invert(0.7);
}

.sepia {
  filter: sepia(80%);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.many_filters {
  filter: sepia(1) contrast(2) brightness(200%);
}

@media (width <= 376px) {
  .save_button {
    flex-direction: column; 
    gap: 8px; 
  }

  .button_text {
    width: auto; 
    text-align: center; 
  }

  .button__icon {
    width: 28px; 
    height: 28px;
  }
}

.button {
  cursor: pointer;
  position: relative;
  color: var(--button-color);
  border: solid 2px var(--main-color);
  background-color: transparent;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
  transition: box-shadow 0.3s ease;
}

.button:hover {
  cursor: pointer;
}

.button:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover:after {
  transform: scaleX(1);
}