/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: "Inter-Variable";
    --accent-font: "PressStart2P";
    --main-font-weight: 400;
    --accent-font-weight: 700;
    --content-size: clamp(375px, 100%, 700px);
    --main-color: #000;
    --button-color: #fff;
    --main-bg-color: #fff;
    --contour-color: #000;
    --animation-fill-color: red;
    --background-gradient: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), 
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), 
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}
